<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Weather Forecasting</title>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBML9OqI-CAo4JHqX8Ndtd0DdO8RmMKuAg"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
  <script src="script.js"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/wpalahnuk/ngAutocomplete/master/src/ngAutocomplete.js"></script>
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css">
  <link href="style.css" rel="stylesheet" />

</head>

<body>
  <div ng-app="myApp" ng-controller="testController">
    <input type="text"  ng-autocomplete ng-model="SelectedLocation" />
    <div class="coc-form">
      <div class="coc-block-row">
        <label class="coc-block-label" for="dateofbirth"></label>
        <div class="coc-block">
          <input class="coc-input" ng-model="SelectedDate"type="date" name="dateofbirth" id="dateofbirth" />
        </div>
      </div>
    </div>

    <button type="button" ng-click="getRequest()" value="Submit" /> Submit </button>
    

      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Pressure</th>
            <th>Temprature (C)</th>
            <th>Humidity</th>
            <th>Weather Forecast</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td style="text-align:center"> {{details.date.substring(0,10)}} </td>
            <td style="text-align:center"> {{details.pressure}}</td>
            <td style="text-align:center"> {{details.temprature}}</td>
            <td style="text-align:center"> {{details.humidity }} </td>
            <td style="text-align:center"> {{details.forecast}}</td>
        </tr>
        </tbody>
      </table>
    
  </div>
</body>
</html>

