<html>
<head>
    <title></title>
</head>
<body>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=?"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/wpalahnuk/ngAutocomplete/master/src/ngAutocomplete.js"></script>
    <script type="text/javascript">
        var app = angular.module('MyApp', ['ngAutocomplete'])
        app.controller('MyController', function ($scope, $window) {
            $scope.GetLocation = function () {
                $window.alert($scope.SelectedLocation);
            };
        });
    </script>
    <div ng-app="MyApp" ng-controller="MyController">
        <input type="text" ng-autocomplete ng-model="SelectedLocation" />
        <input type="button" value = "Submit" ng-click="GetLocation()"/>
    </div>
</body>
</html>